@import "./variables";
@import "./mapas";

.navbar {
    background-color: $color-terciario;
    padding: 1vw;
  }
  
  .container-fluid {
        color: $color-principal;
        img {
        width: 6vw;
        height: 6vw;
        }
        h1 {
            font-size: 5vw;
            margin: 0;
            color: map-get($display, background-color);
          }
  }
  
  .offcanvas-header {
    background-color: $color-terciario;
    padding: 2.9vw;
    h5 {
        color: map-get($display, background-color);
      }
  }
  
  .offcanvas-body {
    background-color: $color-principal;
  }
  
  .btn-outline-success {
    color: map-get($display, background-color);
    border-color: map-get($display, background-color);
  }