@import "./variables";
@import "./mapas";

.social {
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 2000;

    ul {
        list-style: none;

        li {
            a {
                display: inline-block;
                color: map-get($display, background-color);
                background: $color-terciario;
                padding: 10px 15px;
                text-decoration: none;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;

                a:hover {
                    padding: 10px 30px;
                }
            }

            .icon-facebook2 {
                background: #3b5998;
            }

            .icon-instagram {
                background: palevioletred;
            }

            .icon-whatsapp {
                background: green;

            }


        }
    }
}

.containergrid {
    @extend %flex;
    margin-top: 5px;
    background-color: $color-terciario;

    video {
        height: 100%;
        width: 100%;
        object-fit: map-get($display, object-fit);
    }

}

.videouno {
    @include genius(span 3, span 2);
}

.videodos {
    @include genius(span 2, span 3);
}

.videotres {
    @include genius(span 3, span 1);
}

.boxtext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: map-get($display, background-color);
    padding: 0px;
    margin-top: 5vw;
    margin-bottom: 3vw;
    line-height: 200%;

    h2 {
        color: $color-principal;
        font-size: 3vw;
        margin-top: 0px;
        margin-left: 38vw;
        margin-right: 10px;
        text-align: map-get($display, text-align);
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}
h1 {
    margin-top: 8vw;
    text-align: map-get($display, text-align);
}

.boxtextp {
    color: $color-principal;
    text-align: map-get($display, text-align);
    font-size: 2vw;
    margin-bottom: 5vw;
    line-height: 150%;
}

.boxtext2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: map-get($display, background-color);
    padding: 0px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    line-height: 200%;

    p {
        color: $color-principal;
        text-align: map-get($display, text-align);
        font-size: 5vw;
        margin: 40px;
        line-height: 100%;
    }
}


.containeruno {
    @extend %flex;
    img {
        height: 100%;
        width: 100%;
        object-fit: map-get($display, object-fit);
    }
}
.sentrenamiento1 {
    @include genius(span 1, span 2);
}  

.entrenamiento2 {
    @include genius(span 2, span 1);
    }

.entrenamiento3 {
    @include genius(span 2, span 2);
    }

.entrenamiento4 {
    @include genius(span 3, span 1);
    }

.entrenamiento5 {
    grid-column: span 2;
    }
.entrenamiento6 {
    @include genius(span 1, span 1);
}
.entrenamiento7 {
    grid-column: span 2;
    }

.rounded {
    width: 10vw;
    }

.staffh2 {
    color: $color-principal;
    font-size: 4vw;
    text-align: map-get($display, text-align);
    margin: 5vw;
    }

.card {
    margin-left: 3vw;
    width: 26rem;
    }

.card-img-top {
    object-fit: map-get($display, object-fit);;
    width: 22.9rem;
    height: 16rem;
    }

.separador {
    background-color: map-get($display, background-color);
    margin-top: 10vw;
    }

.Act {
    object-fit: map-get($display, object-fit);
    width: 22.9rem;
    height: 16rem;
    }

.tienda {
    object-fit: map-get($display, object-fit);
    width: 23vw;
    height: 16vw;
    }

.card-body iframe {
    width: 28vw;
    height: 20vw;
    }

form {
    background-color: $color-principal;
    border-radius: 3px;
    padding: 20px;
    font-size: 17px;
    color: map-get($display, background-color);
    }

textarea {
    outline: none;
    border: 30px;
    width: 30vw;
    height: 100px;
}

.card-body img {
    width: 28vw;
    height: 35vw;
}
